@page
@model Projekt.Pages.Admin.topModel
@{
	ViewData["Title"]="Wyróżnieni pracownicy";
}
<h1>Wyróżnieni pracownicy
</h1>
<div class="container">
<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">@Html.DisplayNameFor(model => Model.superEmployees[0].firstName)  </th>
			<th scope="col">@Html.DisplayNameFor(model => Model.superEmployees[0].lastName)  </th>
		</tr>
	</thead>
		<tbody> @foreach (var p in Model.superEmployees) {
		<tr>
			<td>@Html.DisplayFor(m => p.firstName) @Html.HiddenFor(m => m.Employee.firstName) </td>
			<td>@Html.DisplayFor(m => p.lastName) @Html.HiddenFor(m => m.Employee.lastName) </td>
			
		</tr> }
	</tbody>

</table>

	</div>
		<form class="form-horizontal" method="post">
		<div class="form-group"> 
			<input type="submit" class="btn btn-primary" value="Usuń pracowników miesiąca " /> 
			<br />
			<br />
			 <a asp-page="/Index" class=" btn btn-primary ">Wróć na stronę główną</a> 
		</div>      
	</form>