@page
@model Projekt.Pages.Admin.topModel
@{
	ViewData["Title"]="Pracownicy dnia";
}
<h1>Super Pracownicy
</h1>
<div class="container">
<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">@Html.DisplayNameFor(model => Model.superEmployees[0].firstName)  </th>
			<th scope="col">@Html.DisplayNameFor(model => Model.superEmployees[0].lastName)  </th>
		</tr>
	</thead>
		<tbody> @foreach (var p in Model.superEmployees) {
		<tr>
			<td>@Html.DisplayFor(m => p.firstName) @Html.HiddenFor(m => m.Employee.firstName) </td>
			<td>@Html.DisplayFor(m => p.lastName) @Html.HiddenFor(m => m.Employee.lastName) </td>
			
		</tr> }
	</tbody>
@*</table>
	<form class="form-horizontal" method="post">
		<div class="form-group"> 
			<div class="row col-sm-12"> <input type="submit" class="btn btn-primary" value="Usuń zawartość koszyka" /> </div>
			<br />
			<div class="row col-sm-12"> <a asp-page="List" class=" btn btn-primary ">Wróć do listy</a> </div>
		</div>      
	</form>
</div>*@