@page
@model Projekt.Pages.Firms.IndexModel

@{
    ViewData["Title"] = "Lista firm";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Dodaj nową firmę</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Firm[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Firm[0].Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Firm) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edytuj</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Szczegóły</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
