@page
@model Projekt.Pages.Employees.DeleteModel

@{
    ViewData["Title"] = "Usuń pracownika";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.userName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.userName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.firstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.firstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.lastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.lastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.phoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.phoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.photo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.photo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.role)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.role)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Firm)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Firm.Description)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Employee.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
