@page
@model Projekt.Pages.Employees.DetailsModel

@{
    ViewData["Title"] = "Szczegóły";
}

<h1>Details</h1>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.userName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.userName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.firstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.firstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.lastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.lastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.phoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.phoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.photo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.photo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.role)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.role)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Firm)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Firm.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Employee?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
